export ANTHROPIC_API_KEY=fill_me_in
export FREEPLAY_API_KEY=fill_me_in
export FREEPLAY_API_URL=http://localhost:8080
export FREEPLAY_PROJECT_ID=
export GEMINI_PROJECT_ID=fp-d-int-069c
export OPENAI_API_KEY=fill_me_in
