name: Test

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: "test-${{ github.event.pull_request.number }}"
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
          cache-cleanup: on-success

      - name: Run tests
        run: ./gradlew test --parallel --build-cache --configuration-cache
        env:
          FREEPLAY_API_URL: ${{ secrets.FREEPLAY_API_URL }}
          FREEPLAY_PROJECT_ID: ${{ secrets.FREEPLAY_PROJECT_ID }}
          EXAMPLES_PROJECT_ID: ${{ secrets.EXAMPLES_PROJECT_ID }}
          FREEPLAY_API_KEY: ${{ secrets.FREEPLAY_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
